<mat-toolbar color="primary" class="mat-toolbar">
    <span>tp_final_desarrollo_pertile</span>
    <span class="spacer"></span>
    <a mat-button routerLink="/cursos" routerLinkActive="router-link-active">Cursos</a>
    <a mat-button routerLink="/alumnos" routerLinkActive="router-link-active">Alumnos</a>
    <a mat-button routerLink="/docentes" routerLinkActive="router-link-active">Docentes</a>
    <a mat-button routerLink="/temas" routerLinkActive="router-link-active">Temas</a>
</mat-toolbar>
  
<mat-card class="curso-detail-card">
    <mat-card-header>
        <mat-card-title><h2>Lista de Alumnos</h2></mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <button (click)="nuevoAlumno()" mat-raised-button color="accent">Nuevo Alumno</button>
        <br><br>
        <table mat-table [dataSource]="listaAlumnos" class="mat-elevation-z2">
        
            <!-- Columna Nombre -->
            <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef> Nombre </th>
                <td mat-cell *matCellDef="let alumno"> {{ alumno.nombre }} </td>
            </ng-container>
  
            <!-- Columna Fecha de Nacimiento -->
            <ng-container matColumnDef="fechaNacimiento">
                <th mat-header-cell *matHeaderCellDef> Fecha de Nacimiento </th>
                <td mat-cell *matCellDef="let alumno"> {{ alumno.fechaNacimiento }} </td>
            </ng-container>
  
            <!-- Columna Acciones -->
            <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef> Acciones </th>
                <td mat-cell *matCellDef="let alumno">
                    <button (click)="editarAlumno(alumno.id)" mat-icon-button color="primary">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button (click)="eliminarAlumno(alumno.id)" mat-icon-button color="warn">
                        <mat-icon>delete</mat-icon>
                    </button>
                    <button (click)="verAlumno(alumno)" mat-icon-button color="accent">
                        <mat-icon>visibility</mat-icon>
                    </button>
                </td>
            </ng-container>
  
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </mat-card-content>
</mat-card>